<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Data From Child {{message}}

  </h2>
</div>
<app-first></app-first>
<app-string></app-string>
<app-binding></app-binding>
<app-event-binding></app-event-binding>
<app-template-refrance></app-template-refrance>
<app-two-way-binding></app-two-way-binding>
<app-structural-derectives></app-structural-derectives>
<app-component-integraton (childEvent)="message=$event" [parentData]="name"></app-component-integraton>
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>